@font-face {
  font-family: "Montreal";
  src: url("../fonts/Montreal.otf") format("otf");
  font-weight: 40;
}

@font-face {
  font-family: "Roboto-r";
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto-m";
  src: url("../fonts/Roboto-Medium.ttf") format("ttf");
}

.text-container2 {
  font-family: "Roboto-r", sans-serif;
  position: absolute;
  font-size: 20px;
  left: 80px;
  top: 40px;
  color: #000;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.text-container1 {
  font-family: "Roboto-r", sans-serif;
  position: absolute;
  font-size: 18px;
  right: 30px;
  top: 40px;
  color: #000;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-inline: 20px;
}

.text-wrapper {
  font-family: "Roboto-r", sans-serif;
  position: relative;
  overflow: hidden;
  height: 1.3em;
}

.main-text {
  font-size: 1rem;
  display: block;
  transition: transform 500ms;
  margin-top: 2px;
}

.hover-text {
  transition: transform 250ms;
  transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 2.5px;
  white-space: nowrap;
  font-size: 1.1rem;
}

/* Hover effect */
.text-container2:hover .main-text {
  transform: translateY(-100%);
}

.text-container2:hover .hover-text {
  transform: translateY(0%);
}

.copyright1 {
  margin-left: 10px;
  height: 15px;
}

@keyframes rotateFull {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-container2:hover .copyright1 {
  animation: rotateFull 500ms ease-in-out;
}

.magneto-text1 {
  color: #000;
}
@media (max-width: 700px) {
  .text-container2 {
    left: 30px;
  }
  .text-container1 {
    right: 25px;
  }
}
.hover-container {
  position: relative;
  width: 500px; /* Set the width of the container */
  height: 400px; /* Set a fixed height matching the aspect ratio of your images */
  overflow: hidden;
  margin-left: 2rem; /* Prevent images from overflowing */
}

.image,
.image-hover {
  position: absolute; /* Stack the images */
  top: 0;
  left: 0;
  height: 400px; /* Match the container height */
  object-fit: cover; /* Ensure the image covers the container without distortion */
  transition: opacity 0.8s ease-in-out; /* Smooth fade effect */
  object-fit: cover;
  border-radius: 0.5rem; /* Adjust for your preferred rounded corners */
  width: 500px;
}

.image-hover {
  opacity: 0; /* Hide the second image initially */
}

.hover-container:hover .image-hover {
  opacity: 1; /* Show the second image on hover */
}

.hover-container:hover .image {
  opacity: 0; /* Hide the first image on hover */
}
.icon-container .icon {
  width: 2.5rem; /* Equivalent to w-10 */
  height: 5rem; /* Equivalent to h-20 */
  color: #4169e1; /* Initial color */
  transition: color 0.3s ease; /* Smooth transition */
}

.icon-container .icon:hover {
  color: #333; /* Color on hover */
}
@media (max-width: 500px) {
  
  .hover-container {
    
    margin-left: 0rem; /* Prevent images from overflowing */
  }
}