

/* Main wrapper that allows scrolling but hides the scrollbar */
.no-scrollbar {
  height: 100%; /* Ensure it takes full height */
  overflow: auto; /* Enable scrolling functionality */
  -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* Hide scrollbar in Webkit-based browsers (Chrome, Safari, Opera) */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}
